

body{
    margin: 0;
}

.item1 { grid-area: header; }
#menu { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }
.item6{ grid-area: bottom; }
.item7{ grid-area: left; }

.grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header header header header header'
    'menu menu menu main main main main main main'
    'menu menu menu main main main main main main'
    'menu menu menu main main main main main main'
    'menu menu menu main main main main main main'
    'menu menu menu left left footer footer right right'
    'bottom bottom bottom bottom bottom bottom bottom bottom bottom';

    grid-gap:   10px;
    background-color: #f0f0f1;
    padding: 5px;
    /*height: 600px;*/
}

.grid-container > div {
    background-color: #ffffff;
    text-align: center;
    padding: 0px 0;
    font-size: 15px;
    /*box-sizing: border-box;*/
}

.item3,.item4,.item5,.item7 {
    border-radius: 7px;
}

.item4{
    border-radius: 7px;
}


.btl{
    text-align: left;
}

.logo{
    padding: 0;
    margin-left: 5%;
    width: 80px;
    height: 80px;
    float: left;
}

.btl p{
    margin: 10px 0;
    padding: 10px;
    float: left;
    color: #ef3a3b;
    /*background-color: #ef3a3b;*/
    /*border-radius: 5px;*/
    font-size: 30px;
    font-weight:bolder;
}


.item1{
    border-bottom: 3px solid #ef3a3b;
    margin-bottom:0px;
    /*height: 90px;*/
}

/* From uiverse.io by @adamgiebl */
button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ed3a3c;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #ed3a3c;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #ed3a3c;
}

button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #ed3a3c;
}

button:active {
    transform: scale(0.9);
}

#login{
    margin-right: 14%;
    float: right;
}

/* From uiverse.io by @adamgiebl */
#loading-btn {
    font-family: inherit;
    font-size: 10px;
    padding: 0.7em 1em 0.7em 0.9em;
    align-items: stretch;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    flex-direction: row;flex-wrap: nowrap;align-content: flex-end;
}

#loading-btn span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

#loading-btn svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

#loading-btn:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

#loading-btn:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

#loading-btn:hover span {
    transform: translateX(5em);
}

#loading-btn:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

.item1 li {
    margin: 20px 0;
    list-style-type: none;
    float: right;
}

.item1 li a {
    display: block;
    color: #ed3a3c;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px;
}

.item1 li a:hover {
    background-color: #ed3a3c;
    color: white;
    border-radius: 7px;
}

/*超链接选项*/
/*a {*/
/*    color: #000;!*字颜色*!*/
/*    text-decoration: none;!*下划线*!*/
/*}*/

/*!*移到超链接上时的变化*!*/
/*a:hover {*/
/*    color: #F00;!*悬浮在标签上的时候的字体颜色*!*/
/*}*/

/*选项菜单*/
#menu {
    /*margin-right: 100px;*/
    /*width: 100px;*/
    /*height: 400px;*/
    /*!*border: 1px solid #CCC;*!*/
    /*!*border-bottom:none;*!*/
    /*!*margin:50px auto;*!*/
    /*padding: 0;*/
    /*text-align: left;*/
    /*border: 1px solid #ef3b3c;*/
    /*!*padding-left: 10px;*!*/
    /*margin: 0;*/
}

/*!*一级菜单*!*/
/*#menu ul {*/
/*    list-style: none;!*去掉列表序列号*!*/
/*    margin: 0px;*/
/*    padding: 0px;*/
/*    height: 100%;*/
/*}*/


/*!*一级菜单每一行*!*/
/*#menu ul li {*/
/*    background: #ffffff;!*每一行背景颜色*!*/

/*    !*color: #fff;*!*/
/*    !*padding: 20px;*!*/
/*    height: 11.1%;*/
/*    !*line-height: 26px;*!*/
/*    !*border-bottom: 1px solid #CCC;!*边框*!*!*/
/*    !*position:relative;!*相对位置*!*!*/
/*}*/

/*!*#menu ul li a{*!*/
/*!*    padding: 10px;*!*/
/*!*}*!*/

/*!*二级目录*!*/
/*#menu ul li ul {*/
/*    display:none;!*是否显示出来*!*/
/*    position: absolute;!*绝对位置*!*/
/*    left: 106.5px;!*距离左边距离*!*/

/*    top: 101px;*/
/*    width:200px;*/
/*    border:1px solid #EF3B3CFF;!*边框*!*/
/*    border-bottom:none;!*边框底部*!*/
/*}*/

/*!*二级菜单每一行*!*/
/*#menu ul li ul li{*/
/*    !*background-color: #21B4BB*!*/
/*}*/

/*!*到一级菜单列表每一行上时的变化*!*/
/*#menu ul li:hover{*/
/*    background-color: rgba(237, 59, 61, 0.49);*/
/*}*/

/*!*到一级菜单列表每一行上时的变化,超链接字体*!*/
/*#menu ul li:hover .one{*/
/*    color: rgb(255, 255, 255);*/
/*    align-content: center;*/
/*}*/


/*!*移到一级菜单列表上时的变化*!*/
/*#menu ul li:hover ul {*/
/*    display:block;*/
/*}*/

/*#menu ul li ul li:hover a{*/
/*    color: rgb(255, 255, 255);*/
/*}*/

.item3{
    /*max-width: 500px;*/
}

p{
    word-break: break-all;
    margin: 7px;
}

p.biaoti{
    font-size: 30px;
}

.teacher{
    /*padding: 0;*/
    /*margin-left: 5%;*/
    width: 100%;
    height: 100%;
    /*float: left;*/
}

/*.item5{*/
/*    border-top:2px solid #cb1c1c;*/
/*    color: white;*/
/*    margin-top: 80px;*/
/*}*/

/*.grid-container div.item5{*/
/*    background-color: #ed3a3c;*/
/*}*/

/*.footer{*/
/*    font-size: 15px;*/
/*    height: 80px;*/
/*}*/

.item6{
    border-top:2px solid #cb1c1c;
    color: white;
    margin-top: 80px;
}

.grid-container .item6{
    background-color: #ed3a3c;
}

.footer{
    font-size: 15px;
    height: 80px;
}



